version: '3'
services:
  db:
    image: mysql
    environment:
      MYSQL_USER: gotest
      MYSQL_PASSWORD: gotest
      MYSQL_ROOT_PASSWORD: gotest
      MYSQL_DATABASE: local_gotest
    ports:
      - 3306:3306
  app:
    build: .
    volumes:
      - .:/go/src/app`
    command: ["go", "run", "main.go"]
    ports:
      - "80:8080"
    depends_on:
      - db
    links:
      - db